# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/booku/local_settings.py
/booku/public/static
/booku/public/media

# Database
*.db
