# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
local_settings.py
golib/public/static
golib/public/media

# Database
*.db

# Cache
.sass-cache
