{% extends 'base.html' %}
{% block body %}
{% if books %}
<h1>Book Listing</h1>
<table>
  <tr><th>ISBN</th><th>Title</th><th>Available</th></tr>
  {% for book in books %}
  <tr>
    <td>{% if book.isbn %}{{ book.isbn }}{% else %}-{% endif %}</td>
    {% if book.isbn %}
      <td><a href="{% url catalog:book_details book.isbn %}">{{ book.title }}</a></td>
    {% else %}
      <td><a href="{% url catalog:book_details book.slug %}">{{ book.title }}</a></td>
    {% endif %}
    <td>{{ book.availability }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
